.main-nav {
//border-top: 1px transparent;
//padding-top: 48px;
//margin-top: 48px;
}



.main-nav__services {
margin-bottom: 50px;

}

.main-nav__service {
  float: left;
  background-color: white;
}

.main-nav__items {

}
